@import './variable.scss';

body {
    overflow-x: hidden;
    color:$dark;
}
  
/*Right-Dropdown*/
.Admin-text{
    font-size: 18px;
    color: $dark;
    margin: 0;
    font-weight: 500;
    @media (min-width: 768px) {
        font-size: 16px;
    }
    @media (min-width: 300px) {
        font-size: 14px;
    }
}
.fa-angle-down{
    font-size: 18px;
    color:$dark;
    padding-left: 11px;
    padding-top: 4px;
}
.dropleft {
    .dropdown-menu {
        top: 0;
        right: 0;
        left: auto;
        margin-top: 48px;
        margin-right: 0px;
    }
}
.right-navbar{
    @media (min-width: 768px){
        justify-content: space-between;
    }
    @media (min-width: 992px){
        justify-content: flex-end;
    }
}

a {

    color:$secondary;
    text-decoration: none;
    outline: none;
    &:link,&:visited,&:hover,&.btn.btn-link:hover{
        color:$secondary;
        text-decoration: none !important;    
        i{
            color:$third;
        }
    }
}

.sidebar {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background:$primary;
    color:$light;
    @media (min-width: 768px) {
        margin-left: 0;
    }
    .list-group {
        width: 15rem;
        border-right:none;
    }
    .list-group-item {
        background:$primary;
        color:$light;
        border-color:$primary;
        text-transform:uppercase;
        border-left: 5px solid $primary !important;
        padding: 10px;
        text-transform: capitalize;
        i{
            color:$light;
            margin-right:8px;
        }
        &:hover, &.active, &:active, &:focus{
            background:$secondary;
            color:$light;
            border-color: $primary;
            border-left: 5px solid $yellow !important;
        }
    }
}

/* logo */

.logo-icon{
    text-align: center;
    // border-bottom: 1px solid $light;
    padding: 10px;
    margin: 0;
    img{
        width: 150px;
    }
}

/* structure */
.content {
    min-width: 100vw;
    @media (min-width: 768px) {
        min-width: 0;
        width: 100%;
    }
    h1{
        font-size:45px;
    }

    .page-title{
        font-size: 30px;
        margin:10px 0 !important;
    }
    
    // .content-max{
        // max-width: 1300px;
    // }
}

#wrapper.toggled .sidebar {
    margin-left: 0;
    @media (min-width: 768px) {
        margin-left: -15rem;
    }
}
/* content */

/* backgrounds */
.bg-primary{
    background-color: $primary !important;
    color:$light;
}
.text-primary{
    color: $primary
}

.text-vw-40-86{
    font-size: calc(32px + (86 - 14) * ((100vw - 300px) / (2200 - 300)));
}
.text-vw-20-46{
    font-size: calc(18px + (46 - 14) * ((100vw - 300px) / (2200 - 300)));
}
.text-xsmall{
    line-height:16px;
    font-size:12px;
}
.text-small{
    line-height:15px;
    font-size:14px;
}

.opacity-25{
    opacity:.25;
}
.opacity-50{
    opacity:.5;
}

.text-weight-light{
    font-weight:100;
}

.alert-bordered{
    background:#FFF;
    border-width:3px;
    border-radius:0;
}


.btn{
    border-radius:0;
}
.btn.btn-primary{
    background-color: $primary;
    border-color: $primary;
    color:$light;
}
.btn-primary:hover{
    background-color: $secondary;
    border-color: $secondary;
}
.btn-outline-primary{
    border-color: $primary;
}
.btn-outline-primary:hover{
    background-color: $secondary;
}
.btn:focus, .btn.focus{
    outline:none;
    box-shadow:none;
}

.breadcrumb{
    background:$light;
    font-size:12px;
    text-transform: uppercase;
    padding-left:0;
}

.btn-xs{
    padding: .20rem .40rem;
    font-size: .675rem;
    line-height: 1.2;
    border-radius: .2rem;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

/* font sizes */
.display-5{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

/* .badge{
    border-radius:0;
} */

.sup-text{
    display:block;
    font-size:12px;
    color:$grey;
    display:block;
    font-weight:400;
}

/* list group */
.list-group.list-group-themed{
    border-radius:0;
}
.list-group.list-group-themed .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group.list-group-themed .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.list-group.list-group-themed .list-group-item{
    border-width:2px;
    border-color:#f1f2f2;
}

.list-group-themed a.list-group-item:link, .list-group-themed .list-group-item a:link, .list-group-themed .list-group-item a:link *{
    transition: all .25s ease-in-out
}
.list-group-themed a.list-group-item:hover, .list-group-themed .list-group-item a:hover, .list-group-themed .list-group-item a:hover *{
    opacity: 0.8;
}

/* small */
@media (min-width: 300px) and (max-width: 768px) {
    .list-group-themed.list-group-table .h5, .list-group-themed.list-group-table > *{
        font-size:14px;
        line-height:20px;
    }
    .list-group-themed.list-group-table small, .list-group-themed.list-group-table small *, .list-group-themed.list-group-table .sup-text{
        font-size:12px;
    }
}
/* Medium */
@media (min-width: 769px) and (max-width: 996px) {
    .list-group-themed.list-group-table .h5, .list-group-themed.list-group-table > *{
        font-size:16px;
        line-height:22px;
    }
    .list-group-themed.list-group-table small, .list-group-themed.list-group-table small *, .list-group-themed.list-group-table .sup-text{
        font-size:12px;
    }
}

.list-group-themed .list-group-item small{
    font-size:12px;
    line-height:12px;
}

.list-group-item-details{
    background:#f7f8f8;
}
.list-group-table .border-right{
    border-right:2px solid #f1f2f2 !important;
}

.row.row-col-borders{
    border:2px solid #f1f2f2;
    margin-left:0;
    margin-right:0;
}

.row-col-borders > [class*='col-']:before,
.row-col-borders > [class*='col-']:after {
    background: #f1f2f2;
    bottom: 0;
    content: " ";
    position: absolute;
    width: 2px;
    top: 0;
}
.row-col-borders > [class*='col-']:before {
    left: 0;
}
.row-col-borders > [class*='col-']:after {
    right: -2px;
}
.row-col-borders > [class*='col-']:first-child:before,
.row-col-borders > [class*='col-']:last-child:after {
    display: none;
}

.row-col-borders > .border-0:before,
.row-col-borders > .border-0:after {
    background: #FFF;
    bottom: 0;
    content: "";
    position: absolute;
    width: 0px;
    top: 0;
}

/* FORMS */
.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

.col-short{
    max-height:10px;
}

/* Property Index */
.property-detail-thumb{
    max-width:130px;
    @media (min-width: 768px) {
        max-width:180px;
    }
}

html {
    font-size: 14px;
    @media (min-width: 768px) {
        font-size: 16px;
    }
    @media (min-width: 992px) {
        font-size: 18px;
    }
}

h1, .h1 {
font-size: 2.48832rem;
}

h2, .h2 {
font-size: 2.0736rem;
}

h3, .h3 {
font-size: 1.728rem;
}

h4, .h4 {
font-size: 1.44rem;
}

h5, .h5 {
font-size: 1.2rem;
}

h6, .h6 {
font-size: 1rem;
}

.h7 {
font-size: .9rem;
}

.display-4 {
font-size: 3.48832rem;
}

.display-3 {
font-size: 4.185984rem;
}

.display-2 {
font-size: 5.0231808rem;
}

.display-1 {
font-size: 6.02781696rem;
}

@media (min-width: 768px) {
h1, .h1 {
    font-size: 2.48832rem;
}

h2, .h2 {
    font-size: 2.0736rem;
}

h3, .h3 {
    font-size: 1.728rem;
}

h4, .h4 {
    font-size: 1.44rem;
}

h5, .h5 {
    font-size: 1.2rem;
}

h6, .h6 {
    font-size: 1rem;
}
}

@media (max-width: 768px) {
h1.display-2{
    font-size:1.94rem;
}
}
@media (max-width: 400px) {
h1.display-2{
    font-size:1.94rem;
}
}


label{
    font-size:.95rem;
    padding-left:10px;
    text-transform:uppercase;
    color: $third;
    font-weight:100;
}

.list-group-themed .list-group-item button:hover,
.list-group-themed .list-group-item button:hover *{
    opacity: 0.8;
}

.cur-pnt {
    cursor: pointer;
}

.card{
    border: 2px solid $third !important;
    margin: 15px 0;
    border-radius: 4px !important;
    .card-header,
    .card-body,
    .card-footer{
        padding: 10px 15px;
    }
    .card-header{
        background: $third;
        border-radius: 0;
        h3{
            margin: 0;
            color: $light;
            font-size: 20px;
        }
    }
    .card-body{
        // border: 1px solid $third;
        // border-top: none;
        .table{
            margin-bottom: 0;
            table{
                width: 100%;
                th{
                    font-weight: 500;
                    color: $fourth;
                }
                th,td{
                    padding: 10px 15px;
                    border-bottom-width: 2px;
                }
            }
        }
    }
}

.btn, button{
    border-radius: 4px !important;
    outline: none !important;
    box-shadow: none !important;
    border-width: 1px !important;
}

.btn-secondary{
    background: $secondary !important;
    border-color: $secondary !important;
    color: $light !important;
    &.btn-outline{
        background: transparent !important;
        color: $secondary !important;
        &:hover{
            background: $secondary !important;
            color: $light !important;
        }
    }
}
.btn-third{
    background: $third !important;
    border-color: $third !important;
    color: $light !important;
    &.btn-outline{
        background: transparent !important;
        color: $third !important;
        &:hover{
            background: $third !important;
            color: $light !important;
        }
    }
}
.btn-fourth{
    background: $fourth !important;
    border-color: $fourth !important;
    color: $light !important;
    &.btn-outline{
        background: transparent !important;
        color: $fourth !important;
        &:hover{
            background: $fourth !important;
            color: $light !important;
        }
    }
}
.btn-fifth{
    background: $fifth !important;
    border-color: $fifth !important;
    color: $light !important;
    &.btn-outline{
        background: transparent !important;
        color: $fifth !important;
        &:hover{
            background: $fifth !important;
            color: $light !important;
        }
    }
}

.btn-danger{
    background: $danger1 !important;
    border-color: $danger1 !important;
    color: $light !important;
    &.btn-outline{
        background: transparent !important;
        color: $danger1 !important;
        &:hover{
            background: $danger1 !important;
            color: $light !important;
        }
    }
}

.btn-success{
    background: $success1 !important;
    border-color: $success1 !important;
    color: $light !important;
    &.btn-outline{
        background: transparent !important;
        color: $success1 !important;
        &:hover{
            background: $success1 !important;
            color: $light !important;
        }
    }
}

.btn-grey{
    background: $grey !important;
    border-color: $grey !important;
    color: $light !important;
    &.btn-outline{
        background: transparent !important;
        color: $grey !important;
        &:hover{
            background: $grey !important;
            color: $light !important;
        }
    }
}
.text-success{
    color: $success1 !important;
}
.text-danger{
    color: $danger1 !important;
}

// MOdal 
.modal{
    .modal-content{
        // background: transparent;
        border: none;
        .modal-header{
            background: $third;
            .modal-title{
                font-size: 20px;
                color: $light;
                font-weight: 500;
            }
            button{
                &.close{
                    color: #FFF;
                }
            }
        }  
        .modal-header, .modal-body, .modal-footer{
            padding: 10px 15px;
        } 
    }
}

// Form

.form-group{
    display: flex;
    align-items: center;
    label{
        margin-bottom: 0;
        font-weight: 500;
        text-transform: capitalize;
    }
    .form-control{
        border-width: 1px;
        border-radius: 4px;
    }
}