@import './variable.scss';

@import '../fonts/fonts.css';

.content-max{
    color: $primary;
}

body{
    font-family: 'Roboto Regular';
}

/* Header */
.header{
    background: $primary;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 999;
    &.header-shadow{
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    
    .menu-container{
        flex: 1;
        height: 100%;
        .menu-item{
            height: 100%;
            display: flex;
            align-items: center;
            margin: 0 20px;
            font-size: 20px;
            color: $light;
            &.active, &:hover{
                color: $secondary;
            }
        }
    }
}
/* Header */

/* Searchbar */
.header-search-bar{
    .search-input-container{
        position: relative;
        top: auto;
        right: auto;
        height: 45px;
        width: 400px;
        padding: 9px 9px 9px 50px;
        // flex: 0 0 600px;
        input, i{
            font-size: 16px;
        }
    }    
}
.search-input-container{
    background: $light;
    height: 60px;
    padding: 16px 16px 16px 50px;
    max-width: 600px;
    border-radius: 50px;
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    margin: 0 auto;
    .search-icon{
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: $secondary;
        font-size: 22px;
    }
    
    input{
        box-shadow: none;
        border: none;
        background: transparent;
        color: $dark;
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        outline: none;
    }
}
/* Searchbar */

/* Sortbar */
.sort-list{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
        overflow-x: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li{
            flex: 1;
            font-size: 16px;
            font-weight: 500;
            color: $dark;
            line-height: 1.4;
            text-align: center;
            padding: 7px 12px;
            display: block;
            white-space: nowrap;
            margin-right: 5px;
            cursor: pointer;
            // border: 1px solid $fifth;
            background: $light;
            color: $fifth;
            i{
                margin-left: 5px;
            }
            &.active{
                border-color: $fifth;
                background: $fifth;
                color: $light;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
/* Sortbar */

/* Categorybar */
.category-list{
    // border: 1px solid #ddd;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            padding: 15px 10px;
            border-bottom: 1px solid #ddd;
            font-size: 16px;
            color: $dark;
            cursor: pointer;
            transition: all .05ms;
            &:last-child{
                border-bottom: none;
            }
            &.active, &:hover{
                background: $secondary;
                color: $light;
            }
            a{
                color: $fifth;
            }
        }
    }
}
/* Categorybar */

/* Page Basic */
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.main-container{
    padding-top: 70px;
    position: relative;
    .page-wrapper{
        display: flex;
        justify-content: space-between;
        padding: 25px 15px;
        .page-container{
            width: 100%;
            max-width: 100%;
            position: relative; 
            &.has-sidebar{
                flex: 0 0 760px;
                margin-right: 16px;
                max-width: 760px;
            }
        }
        .page-sidebar{
            flex: 1;
            position: sticky;
            top: 70px;
        }
    }
}
/* Page Basic */

/* General */

.btn{
    // border-radius:0;
}
.btn.btn-primary{
    background-color: $primary;
    border-color: $primary;
    color:$light;
}
.btn-primary:hover{
    background-color: $secondary;
    border-color: $secondary;
}
.btn-outline-primary{
    border-color: $primary;
}
.btn-outline-primary:hover{
    background-color: $secondary;
}
.btn:focus, .btn.focus{
    outline:none;
    box-shadow:none;
}
.flex-1{
    flex: 1;
}
.rotate-phone-icon{
    transform: rotate(90deg);
}
.cursor-pointer{
    cursor: pointer;
}
/* General */

/* Banner */
.banner-container{
    width: 100%;
    background: #ccc;
    height: 360px;
    position: relative;
}
/* Banner */

/* Footer */
.footer{
    background: $dark;
    padding: 15px 0;
    .menu-container {
        a.menu-item{
            margin: 0 20px;
            font-size: 16px;
            font-weight: 300;
            color: $light;
            font-family: 'Roboto Light';
        }
    }
    
}
/* Footer */

/* Advert Banner */
.advert-banner-container{
    background: #ccc;
    width: 100%;
    height: 115px;
}
/* Advert Banner */