$primary: #4B4B87;
$secondary: #16C4A3;
$third: #404354;
$fourth: #21294A;
$fifth: #3D4566;
$danger: #FF2712;
$success: #66B032;
$light: #f4f4f4;
$dark: #222222;
$white: #ffffff;
$grey: #777777;
$success1:#00C851;
$danger1:#ff4444;
$yellow:#ffbb33;