@font-face {
  font-family: 'Roboto Bold';
  src: url('Roboto-Bold.eot');
  src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Bold.woff') format('woff'),
    url('Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url('RobotoCondensed-Bold.eot');
  src: url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('RobotoCondensed-Bold.woff') format('woff'),
    url('RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('RobotoCondensed-Regular.eot');
  src: url('RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('RobotoCondensed-Regular.woff') format('woff'),
    url('RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('Roboto-Light.eot');
  src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Light.woff') format('woff'),
    url('Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('Roboto-Medium.eot');
  src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Medium.woff') format('woff'),
    url('Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('Roboto-Regular.eot');
  src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Regular.woff') format('woff'),
    url('Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('RobotoSlab-Regular.eot');
  src: url('RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
    url('RobotoSlab-Regular.woff') format('woff'),
    url('RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
