@import '../variable.scss';

.auth-wrapper{
    background: $primary;
    .auth-container{
        display: flex;
        min-height: 100vh;
        height: 100%;
        position: relative;
        max-width: 1300px;
        margin: 0 auto;
        // .left-content::-webkit-scrollbar{
        //     display: none;
        // }
        .left-content{
            flex: 1;
            padding: 50px;
            // height: 100vh;
            // overflow-y: scroll;
            display: flex;
            // align-items: center;
            // justify-content: center;

            .page-desc-container{
                .logo{
                    margin-bottom: 30px;
                }
                .page-content::-webkit-scrollbar{
                    display: none;
                }
                .page-content{
                    color: $light;
                    // overflow-y: auto;
                    // height: 100%;
                    font-size: 15px;
                    line-height: 22px;
                    
                    h4{
                        font-size: 22px;
                    }
                    h1,h2,h3,h4,h5{
                        color: $light;
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .right-content{
            background: $light;
            flex: 0 0 40%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0px 5px rgba(0,0,0,0.2);
            margin: 20px 0;
            border-radius: 10px;
            .form-container{
                width: 90%;
                text-align: center;
                .title-container{
                    margin-bottom: 50px;
                    h3{
                        color: $primary;
                        margin-bottom: 15px;
                    }
                    h4{
                        color: $dark;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                    }
                }
                .form-group{
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 20px;
                    label{
                        display: block;
                        color: $dark;
                        padding: 0;
                        margin-bottom: 5px;
                        font-weight: 400;
                    }
                    .form-control{
                        background: transparent;
                        box-shadow: none;
                        color: $dark;
                        border-color: rgba(34, 34, 34, 0.5);
                        border-width: 1px;
                        font-weight: 500;
                        &::-webkit-input-placeholder{
                            color: rgba(0,0,0,0.5);
                        }
                    }
                }
                .login-btn{
                    background: $secondary;
                    color: $light;
                    min-width: 200px;
                    // border-radius: 0 !important;
                    text-transform: capitalize;
                    margin-top: 30px;
                    height: 50px;
                    span{
                        margin: 0 !important;
                        
                    }
                }
                .signup-link{
                    color: $dark;
                }
            }
        }
    }
}