@import '../variable.scss';

.listing-page-container{
    .page-title{
        font-family: 'Roboto Light';
        font-size: 20px;
        margin: 15px 0;
        b{
            font-family: 'Roboto Bold';
        }
        .listing-icons{
            i{
                color: $third;
                &.active{
                    color: $secondary;
                }
            }
        }
    }
    .listing-page-content{
        margin-top: 15px;
        .category-list-container{
            flex: 0 0 300px;
            margin-right: 15px;
            
            .category-list{
                background: $light;
                position: sticky;
                top: 85px;
            }
        }
        .map-container{
            height: 700px;
            background: #ccc;
            width: 100%;
        }
    }
}