@import '../variable.scss';

.professional-single{
    background: $fourth;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    position: relative;

    &:last-child{
        margin-bottom: 0;
    }
    .off{
       opacity: 0.5;
    }
    .professional-actions{
        position: absolute;
        top: 15px;
        right: 0;
        width: 50px;
        height: 100%;
        text-align: center;
        i{
            color: $light;
            font-size: 20px;
            margin-bottom: 20px !important;
            &.active{
                color: $secondary;
            }
        }
    }
    .professional-image{
        flex: 0 0 200px;
        width: 200px;
        img{ 
            border-radius: 100%;
            height: 200px;
            object-fit: cover;
            width: 200px;
            border: 3px solid $secondary;
        }
    }
    .professional-details-content{
        flex: 0 0 calc(45% - 30px);
        width: calc(45% - 30px);
        margin: 0 0 0 15px;
        .professional-title{
            font-family: 'Roboto Regular';
            font-size: 20px;
            margin: 0 0 5px;
            color: #fff;
        }
        .rating-container {
            .reviews-label{
                color: #fff;
            }
        }
        .professional-main-details{
            margin-top: 15px;
            .detail-single{
                font-size: 15px;
                color: #fff;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
                i{
                    color: $light;
                    width: 15px;
                }
                p{
                    margin-bottom: 0;
                    margin-left: 10px;
                    display: inline-block;
                    vertical-align: top;
                    span{
                        color: $secondary;
                        font-family: 'Roboto Medium';
                        font-size: 14px;
                        
                    }
                }
            }
        }
    }
    .view-details-content {
        flex: 0 0 225px;
        .portfolio-tiles{
            .tiles-single{
                width: 50px;
                height: 50px;
                margin-right: 8px;
                margin-bottom: 8px;
                cursor: pointer;
                &:nth-child(4n){
                    margin-right: 0;
                }
                &:nth-last-child(-n+4){
                    margin-bottom: 0;
                }
                img{
                    border: 2px solid $secondary;
                    border-radius: 8px;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    &.popular-professional-single{
        .professional-image{
            flex: 0 0 177px;
            width: 177px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .professional-details-content{
            flex: 1;
        }
    }
}