@import '../variable.scss';

.rating-container{
    .rating-box{
        background: $secondary;
        color: $light;
        font-size: 16px;
        font-family: 'Roboto Medium';
        padding: 0 8px;
        border-radius: 5px;
        line-height: 25px;
        display: block;
    
    }
    .reviews-label{
        font-size: 16px; 
        font-family: 'Roboto Regular';
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0 10px;
        li{
            margin-right: 2px;
            font-size: 16px;
            &:last-child{
                margin-right: 0;
            }
            i{
                &.fa-star, &.fa-star-half-alt{
                    &.fas 
                    {
                        color: #f2b01e;                        
                    }   
                    &.far
                    {
                        color: #cccccc;
                    }   
                }
            }
        }
    }
}