@import '../variable.scss';

.store-details-container {
    padding: 0 !important;
    .slider-contianer {
        margin-top: -25px;
        height: 500px;
        position: relative;
        .slick-slider {
            height: 100%;
            position: relative;
            .slick-arrow {
                display: none !important;
            }
            .slick-dots{
                bottom: 10px;
                z-index: 444;
                li{
                    button{
                        background: rgba(255,255,255,0.7);
                        border-radius: 100% !important;
                        width: 12px;
                        height: 12px;
                        &::before{
                            display: none;
                        }
                    }
                    &.slick-active{
                        button{
                            background: $secondary;
                        }
                    }
                }
            }
            .slick-list {
                height: 100%;
                .slick-slide {
                    position: relative;
                    img {
                        width: 100%;
                        height: 500px;
                        object-fit: cover;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,0.7);
                    }
                }
            }
        }
        .store-info-container{
            position: absolute;
            width: 100%;
            top: 0;
            padding: 20px;
            h3{
                font-size: 30px;
                font-family: 'Roboto Regular';
                color: #fff;
                width: max-content;
            }
            h5{
                color: #fff;
                font-family: 'Roboto Regular';
                font-size: 17px;
                letter-spacing: 1px;
            }
            h6{
                color: #fff;
                font-family: 'Roboto Light';
                font-size: 15px;
            }
            .rating-container {
                display: inline-flex !important;
                color: #fff;
            }
            .store-actions{
                i{
                    color: $light;
                    font-size: 24px;
                    &.active{
                        color: $secondary;
                    }
                }
            }
        }
    }
    .store-details-content{
        padding: 15px 0;
        .nav-pills{
            position: sticky;
            top: 85px;
            .nav-item{
                a.nav-link{
                    padding: 15px 15px;
                    border-bottom: 1px solid #ddd;
                    font-size: 16px;
                    color: $dark;
                    background: #f4f4f4;
                    cursor: pointer;
                    transition: all .05ms;
                    display: flex;
                    align-items: center;
                    &.active, &:hover{
                        // background: transparent;
                        // border-bottom: 2px solid $secondary;
                        color: $secondary;
                        font-weight: bold;
                        i{
                            color: $secondary;
                        }
                    }
                    i{
                        width: 40px;
                        font-size: 22px;
                    }
                }
                &:last-child{
                    a.nav-link{
                        // border-bottom: none;
                    }
                }
            }
        }
        .tab-content{
            .gallery-grid {
                .gallery-single{
                    flex: 0 0 32.5%;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    height: 200px;
                    border-radius: 6px;
                    cursor: pointer;
                    overflow: hidden;
                    &:hover{
                        img{
                            transition: all 1s;        
                            transform: scale(1.5);    
                        }
                    }
                    &:nth-child(3n){
                        margin-right: 0;
                    }
                    &:nth-last-child(-n+3){
                        margin-bottom: 0;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 6px;
                    }
                }
            }
            .portfolio-grid {
                .portfolio-single{
                    flex: 0 0 32.5%;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    height: 200px;
                    border-radius: 6px;
                    cursor: pointer;
                    overflow: hidden;
                    position: relative;
                    &:hover{
                        img{
                            transition: all 1s;        
                            transform: scale(1.5);    
                        }
                    }
                    &:nth-child(3n){
                        margin-right: 0;
                    }
                    &:nth-last-child(-n+3){
                        margin-bottom: 0;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 6px;
                    }
                    .caption{
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        background: rgba(0,0,0,0.5);
                        z-index: 333;
                        padding: 10px;
                        h3{
                            margin-bottom: 0;
                            font-size: 14px;
                            color: $light;
                        }
                    }
                }
            }
        }
    }
}