@import '../variable.scss';

.store-single{
    background: $light;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    &:last-child{
        margin-bottom: 0;
    }
    .off{
       opacity: 0.5;
    }
    .store-image, .view-details-content{
        flex: 0 0 25%;
        width: 25%;
        img{
            border-radius: 4px;
            height: 160px;
            object-fit: cover;
        }
        .functionality-list{
            margin-top: 15px;
            
            span{
                margin-right: 5px;
                color: $light;
                font-family: 'Roboto Medium';
                font-size: 12px;
                background: $primary;
                border-radius: 100%;
                flex: 0 0 30px;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    &.fa-male{
                        font-size: 18px;
                    }
                    &.fa-female{
                        font-size: 18px;
                    }
                    &.fa-wifi{
                        font-size: 14px;
                    }
                    &.fa-car{
                        font-size: 15px;
                    }
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    .store-details-content{
        flex: 0 0 calc(50% - 30px);
        width: calc(50% - 30px);
        margin: 0 0 0 15px;
        .store-title{
            font-family: 'Roboto Regular';
            font-size: 20px;
            margin: 0 0 5px;
            color: #333;
        }
        .rating-container {
            .reviews-label{
                color: #333;
            }
        }
        .store-main-details{
            margin-top: 15px;
            .detail-single{
                font-size: 15px;
                color: #333;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
                i{
                    color: $third;
                    width: 15px;
                }
                p{
                    margin-bottom: 0;
                    margin-left: 10px;
                    display: inline-block;
                    vertical-align: top;
                    span{
                        color: $secondary;
                        font-family: 'Roboto Medium';
                        font-size: 14px;
                        
                    }
                }
            }
        }
    }
    &.popular-store-single{
        .store-image{
            flex: 0 0 35%;
            width: 35%;
            .functionality-list {
                display: none;
            }
        }
        .store-details-content{
            flex: 1;
        }
    }
}