@import '../variable.scss';

.dashboard-widgets{
    margin-top: 15px;
    .dashboard-widget{
        
        color: $light;
        padding: 10px;
        border-radius: 4px;
        margin-right: 15px;
        flex: 1;
        i{
            font-size: 80px;
            opacity: 0.5;
        }
        &:last-child{
            margin-right: 0;
        }
        &.dashboard-widget-1{
            background: $primary;
        }
        &.dashboard-widget-2{
            background: $secondary;
        }
        &.dashboard-widget-3{
            background: $fifth;
        }
        .widget-count{
            flex: 1;
            text-align: right;
        }
    }
}
