@import '../variable.scss';

.store-menus-container{
    display: flex;
    align-items: flex-start;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px 0;

    .menu-single{
        background: $secondary;
        border-radius: 4px;
        padding: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        flex: 0 0 32.71%;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:nth-child(3n){
            margin-right: 0;
        }     

        .menu-icon{
            position: absolute;
            top: 50%;
            right: 10px;
            background: rgba(255, 255, 255, 0.5);
            color: $primary;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            opacity: 0.5;
            transform: translateY(-50%);
        }
        h3{
            font-size: 26px;
        }
        h3, p{
            color: $light;
        }
    }
}